
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        margin: 0;
        padding: 0;
    }
    .centy {
        text-align: center;
    }

    .heading {
        font-size: 50px;
        text-decoration: underline;
    }

    h2 {
        font-size: 35px;
        text-decoration: underline;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    .capty {
        font-size: 30px;
    }

    ol {
        font-size: 25px;
    }

    .whity {
        background-color: white;
        border-color: yellow;
        color:navy;
    }
</style>
<body>
    <div class="centy">
        <div class="whity">
            <h1 class="heading">- Our Mission -</h1>
        <div class="capty">
            <caption>“The white folks like for us to be religious, then they can do what they want to with us.” </caption>
        </div>
        </div>
        <h2>About Us</h2>
    </div>
    <p>
        An <b>Employee </b> management system is a core part of HR. This article will go over the best tools to manage employee records, work history, and other important employee data.
        <br>
        If you are researching HR technology, you are probably doing so for one or two reasons. <br> 1) You need an improvement to the system you currently use and are looking for an employee management app that has more (or better) features than what you are used to. <br> 2) You are a growing business looking to implement employee management software for the first time. Either way, we can help.
        <br>
        Whether you are here to find a new tool or perhaps introducing an employee management system for the first time, this article will help you quickly compare and evaluate the best employee management system along with other human resources software. So let’s dive in!
    </p>
    <h2>Employee Management Software FAQ</h2>
    <p>Have some questions about employee management systems before we dive into our summaries and reviews? Start here.</p>
    <h4>What is employee management?</h4>
    <p>Employee management focuses on the employee to ensure they are performing their best in order to achieve bigger organizational goals. In doing so, teams can capitalize on employee strengths and needs to maximize on a functional and efficient workplace.</p>
    <h4>What do employee management systems do?</h4>
    <p>Employee management systems are useful for running a smooth organization, especially organizations of scale. It assists HR personnel to keep track of employee information such as salary details, medical information, attendance/leave records, overall performance and more.</p>
    <h4>What is a leave management system?</h4>
    <p>A leave management system is a type of worker management software that allows automated leave requests to be processed. This activity tends to be a time-consuming task for the HR department to ensure a sufficient amount of staff within the organization at all times. This system makes the process painless for both managers and employees.</p>
    <h4>What is HRIS?</h4>
    <p>Human Resource Information System (HRIS) is a valuable process that allows businesses to organize and streamline all data in consolidated hr software. This saves time, resources, and budget to simplify work and efficiency within organizations.  Information such as departments, pay rates, benefits selection, and employee job information can be utilized in an HRIS system. </p>
    <h2>HR Management Tools Comparison Criteria</h2>
    <p>What are we looking for when we are looking for HR online systems and tools? Here’s a summary of my evaluation criteria: </p>

    <ol type="1">
        <u><b>Some Important Tools:</b></u>
        <li>User Interface (UI)</li>
        <li>Usability</li>
        <li>Engagement and Productivity</li>
        <li>Integrations</li>
        <li>Value for $</li>
    </ol>
</body>

