@{
    ViewData["Title"] = "Privacy Policy";
}


<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: aquamarine;
    }

    .centy {
        text-align: center;
    }

    .heading {
        font-size: 50px;
        text-decoration: underline;
    }

    h2 {
        font-size: 35px;
        text-decoration: underline;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    .capty {
        font-size: 30px;
    }

    ol {
        font-size: 25px;
    }

    .whity {
        background-color: white;
        border-color: yellow;
        color:navy;
    }
</style>
<body>
    <div class="centy">
        <div class="whity">
            <h1 class="heading">- About Our Privacy -</h1>
            <div class="capty">
                <caption>“Solitude sometimes is best society.” </caption>
            </div>
        </div>
    </div>
    <p>
        Today's business world is largely dependent on data and the information that is derived from that data.
        <br><br>
        Data is critical for businesses that process that information to provide services and products to their customers. From a corporate context, in a company - from the top executive level right down to the operational level - just about everyone relies heavily on information.
        <br>
        In a complex environment where so much depends on the data that businesses collect and process, protecting that information becomes increasingly important. Among the steps business owners take to protect the data of their users, drafting a clear and concise Privacy Policy agreement holds central importance.
    </p>
    <h2>What is a Privacy Policy?</h2>
    <p>A Privacy Policy is a statement or a legal document that states how a company or website collects, handles and processes data of its customers and visitors. It explicitly describes whether that information is kept confidential, or is shared with or sold to third parties.</p>


    <ol type="1">
        <u><b>Personal information about an individual may include the following:</b></u>
        <li>Name</li>
        <li>Address</li>
        <li>Email</li>
        <li>Phone Number</li>
        <li>Age</li>
        <li>Gender</li>
        <li>Martial Status</li>
        <li>Race</li>
        <li>Nationality</li>
        <li>Relegious beliefs</li>
    </ol>
</body>
